$font-family: Brutal, sans-serif
$firstColor: #3b88c3 !important
$secondColor: #CEE1F0 !important
body
    background: $secondColor
    margin: 0px
footer 
    margin-top: 10%
    background: #9DC4E1
    width: 100%

.navbar-brand
    float: left
    height: 50px
    font-size: 1.25rem
    line-height: 2
    img
        border: solid rgba(255,255,255,.25) 0.5px
        border-radius: 5px
.sticky-top
    background: $firstColor
.bg-primary
    background: #6CA6D2 !important
#loginForm
    margin-top: 100px !important
    background: #5497CB
    border-radius: 10px
    margin: auto
    width: 28%
    padding: 15px
    padding-top: 50px
    text-align: center
    color: white
    input
        width: 100%
        border-radius: 5px
        border: solid rgba(255,255,255,.25) 1px
        background: #E6F0F8
        height: 35px
    p
        font-size: 15px
#tip
    font-size: 13px
    color: #9DC4E1
#sub
    width: 40% !important
    border: solid #9DC4E1 1px !important
    background: #5497CB !important
    color: White
    margin-bottom: 100px