<!doctype html>
<html>
	<head>
		<title> name </title>
		<meta charset="utf-8">
		<link href="style.css" rel="stylesheet">
	</head>
<body>
<form action="#" method="post">
<div class="container">
<h2>Registration</h2>
<p><label for="first_name">First name</label><input type="text" id="first_name"></p>
<p><label for="first_name">Email</label><input type="text" id="first_name"></p>
<p>
<label for="ph_number">pasword</label>
<input type="tel" id="ph_number"placeholder="050-111-22-33">
</p>
<p>
<label for="ph_number">Пароль</label>
<input type="tel" id="ph_number"placeholder="пароль">
</p>
<p class="s">
<label><input type="radio" name="s" value="male"></label>
<label><input type="radio" name="s" value="female"></label>
</p>
<p>
<label for="news"><input type="checkbox" id="news" name="news">I want to receive news</label>
</p>
<p class="submit">
<input type="submit" value="submit">
</p>

</div>
</form>















</body>
</html>