{% extends "layout.html"%}

{%block content%}

<div class="box">
    <form class="form" action="/cocueі" method="POST">
        <h2>Sign In</h2>
        <div class="inputBox">
            <input type="text" required id="intAgainUsername" name="againUsername">
            <span>Username</span>
            <i></i>
        </div>
        <div class="inputBox">
            <input type="password" required id="intAgainPassword" name="intAgainPassword">
            <span>Password</span>
            <i></i>
        </div>
        <div class="links">
<br>
<br>      <br><br>     

            
        </div>



        <input type="submit" value="login" class="c">
    </form>
</div>


{%endblock%}